body { 
    background-image: url(crossed_cannons_faded.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
h1 {
    text-align: center;
    font-weight: bold;
    padding: 20px;
}
#start_button {
    background-color: green;
    color: white; 
    font-size: 24px; 
    left: 20%;
}
#timer {
    text-align: center;
    color: red;
    padding: 20px;
}
#questions {
    text-align: center;
}
#choices {
    text-align: center;
    font-size: 22px;
    padding: 10px;
}
#Army-Song {
    color: blue;
    position: absolute;
    right: 25%;
}
.correct {
    color: darkgreen;
    font-size: 24px;
}
.incorrect {
    color: red;
    font-size: 24px;
}
.result {
    color: purple;
    font-size: 20px; 
    left: 20%;
}