body { 
    background-image: url(crossed_cannons_faded.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
h1 {
    text-align: center;
}
#start_button {
    background-color: green;
    color: white;  
}
#timer {
    text-align: center;
}
#questions {
    text-align: center;
}
#choices {
    text-align: center;
}
.correct {
    color: darkgreen;
    font-size: 24px;
}
.incorrect {
    color: red;
    font-size: 24px;
}